.two-columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

.spacing {
  margin: 50px;
}

.phrases {
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 20px;
  line-height: 15px;
  text-align: center;
}
