@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

body {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 45px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 2px;
}

.background {
  height: 100vh;
}
